.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {

  text-decoration: underline;
}

#footerLogo {
    align-self: center;
}

.carousel {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.caption {
  background-color: rgb(250, 242, 222);
  opacity: 0.7;
  border-radius: 0.5em;
}

.recipe {
  display: flex;
  justify-content: center;
}
