.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {

  text-decoration: underline;
}

#footerLogo {
    align-self: center;
}

.carousel-text {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.categories-cards {
  margin-top: 80px !important;
  margin-bottom: 80px;
}

.ul-footer {
  list-style: none;
}