.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {

  text-decoration: underline;
}

#footerLogo {
    align-self: center;
}

.categories-cards {
  margin-top: 80px !important;
  margin-bottom: 80px;
}

.ul-footer {
  list-style: none;
}

.recipes {
  margin-top: 50px !important;
  margin-bottom: 50px;
}

.carousel {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.caption {
  background-color: rgba(250, 242, 222, 0.547);
  border-radius: .5rem;
  width: 20rem;
  margin: auto;
}

.recipe {
  display: flex;
  justify-content: center;
}

.categories {
  margin-bottom: .5rem;
}

.padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navButtons {
  margin: auto .5rem;
}

.catLinks {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  padding-left: 1.25rem;
}

.catLinks:hover {
  color: inherit;
  font-weight: bold;
}

.catLinks:not(:last-child) {
  padding-bottom: .5rem;
}

.recipeLinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-left: 1rem;
}

.text {
  color: black;
  text-decoration: none;
}
